In [1]:
import pandas as pd
import numpy as np

In [33]:
file_to_load = 'C:/Users/erica/Desktop/School/Git/Amazon_Vine_Analysis/vine_table.csv'
vine_df = pd.read_csv(file_to_load, sep = ';')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [30]:
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1785997 entries, 0 to 1785996
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   star_rating        int64
 2   helpful_votes      int64
 3   total_votes        int64
 4   vine               object
 5   verified_purchase  object
dtypes: int64(3), object(3)
memory usage: 81.8+ MB

In [48]:
filtered_vine_df = (vine_df.loc[(vine_df['total_votes']>=20),['review_id','star_rating','helpful_votes','total_votes','vine','verified_purchase']])
filtered_vine_df.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y
670,R3PZOXA5X1U8KW,4,31,36,N,N
1359,R6KTC1OPIOIIG,2,19,34,N,Y
1402,R36O341WWXXKNP,5,28,31,N,N
1450,R3GSK9MM8DNOYI,1,4,32,N,N
1587,R10LZVBLQHBVJ0,2,151,198,N,N
1788,R1VR5GLGY1GE7N,1,49,51,N,Y
1845,R3GUUC6NT4QMCL,1,5,36,N,N
1922,R1ZSD020RT18I5,1,7,139,N,N
2178,R113X48B575ASY,1,15,45,N,N
2214,RJLYLGRYH7SFQ,1,34,116,N,N
2451,R2OWDAR0EDEPTF,1,23,28,N,N
2500,R3CICXKAHN6NUD,1,0,23,N,Y
2507,R29BOS5HMAY1LO,5,88,110,N,N
2645,R8WD0136CETA7,2,99,119,N,N

In [52]:
helpful_votes =(filtered_vine_df.loc[(filtered_vine_df['helpful_votes']/filtered_vine_df['total_votes']>=.5),['review_id','star_rating','helpful_votes','total_votes','vine','verified_purchase']])
helpful_votes.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y
670,R3PZOXA5X1U8KW,4,31,36,N,N
1359,R6KTC1OPIOIIG,2,19,34,N,Y
1402,R36O341WWXXKNP,5,28,31,N,N
1587,R10LZVBLQHBVJ0,2,151,198,N,N
1788,R1VR5GLGY1GE7N,1,49,51,N,Y
2451,R2OWDAR0EDEPTF,1,23,28,N,N
2507,R29BOS5HMAY1LO,5,88,110,N,N
2645,R8WD0136CETA7,2,99,119,N,N
2786,R16621F16PQN5A,3,24,31,N,Y
2829,R1LXBPG1M9DDOC,1,102,106,N,N
3075,RNEMGSUKJ4535,2,21,25,N,Y
3357,R3R2UKBFKP1IQ4,1,19,23,N,Y
3436,R2T90XM5G2DBZA,3,15,22,N,Y
3450,R5ZMK0Y0KRBRZ,1,79,91,N,N
3514,R12E2W0XOV3I2S,1,24,30,N,Y

In [54]:
vine_votes_Y = (helpful_votes.loc[(helpful_votes['vine']=='Y'),['review_id','star_rating','helpful_votes','total_votes','vine','verified_purchase']])
vine_votes_Y.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N
335897,R286MFBAJ8NPD6,5,46,51,Y,N
364816,R1JRR530H4COA2,5,22,28,Y,N
367440,RQ5WD90PUNBU9,5,21,24,Y,N
376235,R12648VHCQWUV9,4,21,28,Y,N
381565,R3KAW29CJ8L6DQ,5,17,20,Y,N
416467,R1OWK33OPI45KT,5,55,58,Y,N
417894,R2UP7VTED8O425,5,35,41,Y,N
441172,R3N4QAXTQCA1ED,5,18,20,Y,N
452008,R3EPHK0JGQGE91,5,21,28,Y,N
455171,RCP3KRO47S0GG,4,51,58,Y,N
459023,R3JT907UUA1WUI,4,85,103,Y,N
459332,RY0555ILXIYXW,5,38,50,Y,N
463175,R24PS9N276OXF4,5,241,262,Y,N
468145,R3R0F8ETAGTIOT,5,14,20,Y,N
479301,ROXZOMHBY8Y9S,4,21,23,Y,N

In [55]:
vine_votes_N = (helpful_votes.loc[(helpful_votes['vine']=='N'),['review_id','star_rating','helpful_votes','total_votes','vine','verified_purchase']])
vine_votes_N.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y
670,R3PZOXA5X1U8KW,4,31,36,N,N
1359,R6KTC1OPIOIIG,2,19,34,N,Y
1402,R36O341WWXXKNP,5,28,31,N,N
1587,R10LZVBLQHBVJ0,2,151,198,N,N
1788,R1VR5GLGY1GE7N,1,49,51,N,Y
2451,R2OWDAR0EDEPTF,1,23,28,N,N
2507,R29BOS5HMAY1LO,5,88,110,N,N
2645,R8WD0136CETA7,2,99,119,N,N
2786,R16621F16PQN5A,3,24,31,N,Y
2829,R1LXBPG1M9DDOC,1,102,106,N,N
3075,RNEMGSUKJ4535,2,21,25,N,Y
3357,R3R2UKBFKP1IQ4,1,19,23,N,Y
3436,R2T90XM5G2DBZA,3,15,22,N,Y
3450,R5ZMK0Y0KRBRZ,1,79,91,N,N
3514,R12E2W0XOV3I2S,1,24,30,N,Y

In [57]:
total_reviews = len(vine_df.review_id)
total_reviews

1785997

In [79]:
five_star_reviews = len(vine_df[(vine_df['star_rating']==5)])
five_star_reviews

1026924

In [91]:
paid_five_star_count = len(vine_df[(vine_df['star_rating']==5)&(vine_df['vine']=='Y')])
unpaid_five_star_count = len(vine_df[(vine_df['star_rating']==5)&(vine_df['vine']=='N')])

In [92]:
paid_five_star_count

1607

In [93]:
unpaid_five_star_count

1025317

In [83]:
paid_five_stars = round(((paid_five_star/five_star_reviews)*100),2)
paid_five_star_percent_vs_total_five_star =(f'{paid_five_stars}%')
paid_five_star_percent_vs_total_five_star

'0.16%'

In [105]:
unpaid_five_stars = round(((unpaid_five_star/five_star_reviews)*100),2)
unpaid_five_star_percent_vs_total_five_star =(f'{unpaid_five_stars}%')
unpaid_five_star_percent_vs_total_five_star

'99.84%'

In [85]:
five_star_vs_total = round(((five_star_reviews/total_reviews)*100),2)
five_star_vs_total_percent = (f'{five_star_vs_total}%')
five_star_vs_total_percent

'57.5%'

In [94]:
paid_five_stars_vs_total = round(((paid_five_star_count/total_reviews)*100),2)
paid_five_stars_vs_total_percent = (f'{paid_five_stars_vs_total}%')
paid_five_stars_vs_total_percent

'0.09%'

In [95]:
unpaid_five_stars_vs_total = round(((unpaid_five_star_count/total_reviews)*100),2)
unpaid_five_stars_vs_total_percent = (f'{unpaid_five_stars_vs_total}%')
unpaid_five_stars_vs_total_percent

'57.41%'

In [98]:
vine_votes_count = len(vine_df[(vine_df['vine']=='Y')])
vine_votes_count

4291

In [109]:
non_vine_votes_count = len(vine_df[(vine_df['vine']=='N')])
non_vine_votes_count

1781706

In [99]:
vine_vs_total = round(((vine_votes_count/total_reviews)*100),2)
vine_vs_total_percent = (f'{vine_vs_total}%')
vine_vs_total_percent

'0.24%'

In [101]:
paid_five_star_vs_total_vine = round(((paid_five_star_count/vine_votes_count)*100),2)
paid_five_star_vs_total_vine_percent =(f'{paid_five_star_vs_total_vine}%')
paid_five_star_vs_total_vine_percent

'37.45%'

'23894.59%'